@import 'setup/settings';
@import 'setup/reset';
@import 'setup/mixins';

body {
  font-family: $f-family-base;
  font-size: $f-size-base;
  color: $c-text;
  &.pushable {
    > .pusher {
      background-color: transparent;
    }
    background-color: $c-background !important;
  }
}

.ui {
  &.inverted {
    &.menu {
      background-color: $c-corporate-1;
    }
    &.segment {
      background-color: $c-corporate-2;
      background-image: img('patron.png');
    }
  }
  &.message {
    &.success, &.positive {
      border-color: $c-alert-success;
      background-color: colorWithOpacity($c-alert-success, 0.3);
    }
  }
}