// Colors
$c-corporate-1: #e52452;
$c-corporate-2: #0aa881;
$c-background: #fafafa;
$c-text: #39393a;
$c-alert-success: #70cf00;
$c-alert-warning: #fc0;
$c-alert-danger: #cf3200;

// Fonts
$f-line-height-base: 1.5;
$f-size-base: 14px;
$f-family-base: Georgia, Helvetica, Calibri, Arial, sans-serif;

// Paths
$p-img: '../img/css/';