*, *:before, *:after {
  margin: 0;
  padding: 0;
  background-position: left top;
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  -webkit-font-smoothing: antialiased; }

details, figcaption, figure, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a {
  outline: 0; }

abbr {
  cursor: help; }

abbr[title] {
  border-bottom: 0;
  text-decoration: none; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0;
  box-sizing: content-box; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

textarea {
  resize: none; }

button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="hidden"] {
  display: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0; }

input, textarea, select, button:focus {
  outline: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0; }

li {
  list-style: none; }

button {
  border: 0; }

button {
  background-color: transparent; }

/********** FUNCTIONS **********/
body {
  font-family: Georgia, Helvetica, Calibri, Arial, sans-serif;
  font-size: 14px;
  color: #39393a; }
  body.pushable {
    background-color: #fafafa !important; }
    body.pushable > .pusher {
      background-color: transparent; }

.ui.inverted.menu {
  background-color: #e52452; }

.ui.inverted.segment {
  background-color: #0aa881;
  background-image: url(../img/css/patron.png); }

.ui.message.success, .ui.message.positive {
  border-color: #70cf00;
  background-color: rgba(112, 207, 0, 0.3); }
