{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui horizontal section divider header">
        {{ 'e115.public.about.title'|trans }}
    </h2>
	<div class="ui two column centered grid">
		<div class="column">
			<div class="ui segment">
				<p>{{ 'e115.public.about.content'|trans|raw }}</p>
			</div>
		</div>
	</div>
{% endblock %}